/* Typography */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left; /* Align all text to center */
}

h1 {
    font-size: 24px;
}

/* Colors */
body {
    background-color: #020000;
    color: #fffefe;
}

a {
    color: #ff0000; /* Red color for links */
}

/* Layout */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Center content horizontally */
    padding: 0 20px; /* Add padding to container */
}

/* Shake Animation */
@keyframes shake {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-10px); }
    20%, 80% { transform: translateX(10px); }
    30%, 50%, 70% { transform: translateX(-10px); }
    40%, 60% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.09s;
}


/* Primary Button Style */
.primary-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* Secondary Button Style */
.secondary-btn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
